a:link    { color:#990000 } /* Link- Farbe  */
a:visited { color:#990000 } /* besuchten Links  */
a:hover   { color:#FF0000; } /* Hintergrundfarbe für mit der Maus drüber  */
a:active  { color:#990000 } /* gerade angewählter Link  */

body      { background-image:url(img/fun_bak.gif);
            background-attachment: fixed;
            FONT-SIZE: 8pt;
            COLOR: #000000;
            FONT-FAMILY: Verdana, Arial, Helvetica;
            TEXT-DECORATION: none
          }


.right    { text-align: right;   }
.left     { text-align: left;    }
.center   { text-align : center; }

.font      {FONT-SIZE: 8pt;
            COLOR: #000000;
            FONT-FAMILY: Verdana, Arial, Helvetica;
            TEXT-DECORATION: none
          }

.ueberschrift   { font-size: 8pt;
		   font-weight: bold;
                    text-transform:uppercase;
                  }

.copyright { font-size: 7pt;
             color: #000000;
           }

.navigation	 {	font-family: "Verdana";
			font-size: 10px;
                         background-image:url(img/bg_nav.gif);
                         text-align: right;
                         line-height:17px;
                  }

/* (c) 2003 Nils Heinold

http://www.NilsHeinold.de */
